# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE / Editor specific
.idea/
.vscode/
*.swp

# OS specific
.DS_Store

# Database file (if local and not meant to be shared directly)
# data/master_robot.db
# data/test_master_robot.db

# Secrets
.env